.container {
  padding: 0 2rem;
}

.main {
  background-color: rgba(118, 116, 70, 0.5);
  min-height: 100vh;
  padding: 6rem 0 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: white;
}

.footer {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.highlight {
  background-color: white;
  padding: 0.75rem;
  font-size: 1.1rem;
}

.linkstylebutton {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  padding: 16px 32px;
  text-align: center;
  text-decoration: dotted;
  display: inline-block;
  font-size: 1.4em;
  margin: 4px 2px;
  cursor: pointer;
}

.linkstylebutton:hover {
  color: white;
}

.selected {
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}

@media (max-width: 500px) {
  .buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 0;
  }
  .linkstylebutton {
    border: 2px dashed rgba(255, 255, 255, 0.5);
    width: 80%;
  }
  .selected {
    border: 2px solid white;
  }
}
