.info {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  background-color: rgba(114, 113, 113, 0.6);
  max-width: 1000px;
  border-style: dashed;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.5;
}

.info:hover {
  background-color: white;
  color: black;
}

.info li {
  text-align: left;
}
